<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rzyou.funtime.mapper.FuntimeUserRedpacketMapper">
  <resultMap id="BaseResultMap" type="com.rzyou.funtime.entity.FuntimeUserRedpacket">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="redpacket_num" jdbcType="INTEGER" property="redpacketNum" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="redpacket_desc" jdbcType="VARCHAR" property="redpacketDesc" />
    <result column="bestow_condition" jdbcType="INTEGER" property="bestowCondition" />
    <result column="gift_id" jdbcType="INTEGER" property="giftId" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="invalid_time" jdbcType="TIMESTAMP" property="invalidTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, redpacket_num, amount, redpacket_desc, bestow_condition, gift_id, state, 
    invalid_time, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_funtime_user_redpacket
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_funtime_user_redpacket
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.rzyou.funtime.entity.FuntimeUserRedpacket">
    insert into t_funtime_user_redpacket (id, user_id, redpacket_num, 
      amount, redpacket_desc, bestow_condition, 
      gift_id, state, invalid_time, 
      create_time)
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{redpacketNum,jdbcType=INTEGER}, 
      #{amount,jdbcType=DECIMAL}, #{redpacketDesc,jdbcType=VARCHAR}, #{bestowCondition,jdbcType=INTEGER}, 
      #{giftId,jdbcType=INTEGER}, #{state,jdbcType=INTEGER}, #{invalidTime,jdbcType=TIMESTAMP}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.rzyou.funtime.entity.FuntimeUserRedpacket">
    insert into t_funtime_user_redpacket
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="redpacketNum != null">
        redpacket_num,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="redpacketDesc != null">
        redpacket_desc,
      </if>
      <if test="bestowCondition != null">
        bestow_condition,
      </if>
      <if test="giftId != null">
        gift_id,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="invalidTime != null">
        invalid_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="redpacketNum != null">
        #{redpacketNum,jdbcType=INTEGER},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="redpacketDesc != null">
        #{redpacketDesc,jdbcType=VARCHAR},
      </if>
      <if test="bestowCondition != null">
        #{bestowCondition,jdbcType=INTEGER},
      </if>
      <if test="giftId != null">
        #{giftId,jdbcType=INTEGER},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="invalidTime != null">
        #{invalidTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rzyou.funtime.entity.FuntimeUserRedpacket">
    update t_funtime_user_redpacket
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="redpacketNum != null">
        redpacket_num = #{redpacketNum,jdbcType=INTEGER},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="redpacketDesc != null">
        redpacket_desc = #{redpacketDesc,jdbcType=VARCHAR},
      </if>
      <if test="bestowCondition != null">
        bestow_condition = #{bestowCondition,jdbcType=INTEGER},
      </if>
      <if test="giftId != null">
        gift_id = #{giftId,jdbcType=INTEGER},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="invalidTime != null">
        invalid_time = #{invalidTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rzyou.funtime.entity.FuntimeUserRedpacket">
    update t_funtime_user_redpacket
    set user_id = #{userId,jdbcType=BIGINT},
      redpacket_num = #{redpacketNum,jdbcType=INTEGER},
      amount = #{amount,jdbcType=DECIMAL},
      redpacket_desc = #{redpacketDesc,jdbcType=VARCHAR},
      bestow_condition = #{bestowCondition,jdbcType=INTEGER},
      gift_id = #{giftId,jdbcType=INTEGER},
      state = #{state,jdbcType=INTEGER},
      invalid_time = #{invalidTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>