<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rzyou.funtime.mapper.FuntimeDdzMapper">

    <select id="getRankList" resultType="java.util.Map">
        SELECT
        user_id as userId,u.show_id as showId,u.nickname,u.portrait_address as portraitAddress,max(ranks) ranks,
        sum( amount ) total,sum( amount ) amountSum

        FROM
        (
        SELECT
        b.id,
        b.user_id,
        b.amount,
        @rownum := @rownum + 1,
        IF
        ( @pdept = b.user_id, @rank := @rank + 1, @rank := 1 ) AS ranks,
        @pdept := b.user_id
        FROM
        ( SELECT id, user_id, amount FROM t_funtime_user_account_gold_log WHERE operation_type IN ( 'DDZ_GOLD_OUT', 'DDZ_GOLD_IN' ) AND create_time BETWEEN #{startDate} AND #{endDate} ORDER BY user_id ) b,
        ( SELECT @rownum := 0, @pdept := NULL, @rank := 0 ) c
        ) result
        INNER JOIN t_funtime_user u ON u.id = result.user_id
        WHERE
        ranks &lt;= 10
        GROUP BY
        user_id
        ORDER BY ransk desc,total desc
        limit ${counts}
    </select>

    <insert id="insertDdzRecord" parameterType="com.rzyou.funtime.entity.FuntimeDdz" useGeneratedKeys="true" keyProperty="id">
        insert into t_funtime_ddz_record (user1,gold1,user2,gold2,user3,gold3)
        values (#{user1},#{gold1},#{user2},#{gold2},#{user3},#{gold3})
    </insert>

</mapper>