<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rzyou.funtime.mapper.FuntimeGiftMapper">
  <resultMap id="BaseResultMap" type="com.rzyou.funtime.entity.FuntimeGift">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="gift_tag_id" jdbcType="INTEGER" property="giftTagId" />
    <result column="gift_name" jdbcType="VARCHAR" property="giftName" />
    <result column="original_price" jdbcType="DECIMAL" property="originalPrice" />
    <result column="activity_price" jdbcType="DECIMAL" property="activityPrice" />
    <result column="special_effect"  property="specialEffect" />
    <result column="bestowed" jdbcType="INTEGER" property="bestowed" />
    <result column="animation_type" jdbcType="VARCHAR" property="animationType" />
    <result column="animation_url" jdbcType="VARCHAR" property="animationUrl" />
    <result column="image_url" jdbcType="VARCHAR" property="imageUrl" />
    <result column="animation_length" jdbcType="DECIMAL" property="animationLength" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="flag" jdbcType="INTEGER" property="flag" />
  </resultMap>
  <sql id="Base_Column_List">
    id, type,gift_tag_id, gift_name, original_price, activity_price, special_effect,
    bestowed, animation_type, animation_url, animation_length, create_time, sort,image_url,sort,flag
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_funtime_gift
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="getGiftListByBestowed"  parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_funtime_gift
    where bestowed = #{bestowed} and flag = 1 order by sort
  </select>
  <select id="getGiftByKnapsack"  resultType="java.util.Map">
    select
    t.id, t.type ,t.gift_tag_id giftTagId ,g.tag_name tagName , t.gift_name giftName, t.special_effect specialEffect,
     t.original_price originalPrice, t.activity_price activityPrice,t.image_url imageUrl,
     t.animation_type animationType, t.animation_url animationUrl, t.animation_length animationLength,
     k.item_num itemNum
    from t_funtime_gift t inner join t_funtime_tag g on t.gift_tag_id = g.id
    inner join t_funtime_user_knapsack k on k.item_id = t.id and k.type = 1
    where k.user_id = #{userId}
  </select>
  <select id="getGiftList"  resultType="java.util.Map">
    select
    t.id, t.type ,t.gift_tag_id giftTagId ,g.tag_name tagName , t.gift_name giftName, t.special_effect specialEffect,
     t.original_price originalPrice, t.activity_price activityPrice,t.image_url imageUrl,
     t.animation_type animationType, t.animation_url animationUrl, t.animation_length animationLength
    from t_funtime_gift t inner join t_funtime_tag g on t.gift_tag_id = g.id
    where t.flag = 1 and t.type = 1
     order by t.sort
  </select>
  <select id="getGiftByUserId" parameterType="java.lang.Long" resultType="java.util.Map">
    select
     t.id,t.type,t.gift_name giftName,t.animation_type animationtype, t.animation_url animationUrl,sum(d.num) numTotal,sum(d.amount) amountTotal
     ,t.original_price originalPrice, t.activity_price activityprice,t.image_url imageUrl
    from t_funtime_gift t inner join t_funtime_user_account_gifttrans_record d on t.id = d.gift_id
    where d.user_id = #{userId}
    group by t.id
  </select>



</mapper>