<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rzyou.funtime.mapper.FuntimeUserAccountMapper">
  <resultMap id="BaseResultMap" type="com.rzyou.funtime.entity.FuntimeUserAccount">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="black_diamond" jdbcType="DECIMAL" property="blackDiamond" />
    <result column="blue_diamond" jdbcType="DECIMAL" property="blueDiamond" />
    <result column="horn_number" jdbcType="INTEGER" property="hornNumber" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="version" jdbcType="BIGINT" property="version" />
    <result column="level_url"  property="levelUrl" />
    <result column="received_gift_num"  property="receivedGiftNum" />
    <result column="level_val"  property="levelVal" />
    <result column="wealth_val"  property="wealthVal" />
    <result column="charm_val"  property="charmVal" />

  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, black_diamond, blue_diamond, horn_number, create_time, version,level,received_gift_num,level_val,wealth_val,charm_val
  </sql>
  <select id="selectByUserId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    t.user_id, t.black_diamond, t.blue_diamond, t.horn_number, t.level,t.received_gift_num
    ,l.level,l.level_url,t.level_val,t.wealth_val,t.charm_val
    from t_funtime_user_account t inner join t_funtime_user_level_conf l on t.level = l.level
    where t.user_id = #{userId} limit 1
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_funtime_user_account
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="insertSelective" parameterType="com.rzyou.funtime.entity.FuntimeUserAccount">
    insert into t_funtime_user_account
    <trim prefix="(" suffix=")" suffixOverrides=",">

      <if test="userId != null">
        user_id,
      </if>
      <if test="blackDiamond != null">
        black_diamond,
      </if>
      <if test="blueDiamond != null">
        blue_diamond,
      </if>
      <if test="hornNumber != null">
        horn_number,
      </if>
      <if test="level != null">
        level,
      </if>

      <if test="version != null">
        version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">

      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="blackDiamond != null">
        #{blackDiamond,jdbcType=DECIMAL},
      </if>
      <if test="blueDiamond != null">
        #{blueDiamond,jdbcType=DECIMAL},
      </if>
      <if test="hornNumber != null">
        #{hornNumber,jdbcType=INTEGER},
      </if>
      <if test="level != null">
        #{level,jdbcType=INTEGER},
      </if>
      <if test="version != null">
        #{version,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rzyou.funtime.entity.FuntimeUserAccount">
    update t_funtime_user_account
    <set>

      <if test="blackDiamond != null">
        black_diamond = #{blackDiamond,jdbcType=DECIMAL},
      </if>
      <if test="blueDiamond != null">
        blue_diamond = #{blueDiamond,jdbcType=DECIMAL},
      </if>
      <if test="hornNumber != null">
        horn_number = #{hornNumber,jdbcType=INTEGER},
      </if>
      <if test="level != null">
        level = #{level,jdbcType=INTEGER},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateUserAccountForPlus" >
    update t_funtime_user_account
    <set>

      <if test="blackDiamond != null">
        black_diamond = black_diamond+#{blackDiamond,jdbcType=DECIMAL},
      </if>
      <if test="blueDiamond != null">
        blue_diamond = blue_diamond+#{blueDiamond,jdbcType=DECIMAL},
      </if>
      <if test="hornNumber != null">
        horn_number = horn_number+#{hornNumber,jdbcType=INTEGER},
      </if>

    </set>
    where user_id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateUserAccountForSub" >
    update t_funtime_user_account
    <set>

      <if test="blackDiamond != null">
        black_diamond = black_diamond-#{blackDiamond,jdbcType=DECIMAL},
      </if>
      <if test="blueDiamond != null">
        blue_diamond = blue_diamond-#{blueDiamond,jdbcType=DECIMAL},
      </if>
      <if test="hornNumber != null">
        horn_number = horn_number-#{hornNumber,jdbcType=INTEGER},
      </if>
      <if test="newVersion != null">
        version = #{newVersion},
      </if>

    </set>
    where user_id = #{id,jdbcType=BIGINT}
    <if test="blackDiamond != null">
      and black_diamond-#{blackDiamond,jdbcType=DECIMAL} >=0
    </if>
    <if test="blueDiamond != null">
      and blue_diamond-#{blueDiamond,jdbcType=DECIMAL}>=0
    </if>
    <if test="hornNumber != null">
      and horn_number-#{hornNumber,jdbcType=INTEGER}>=0
    </if>

  </update>

  <update id="updateUserAccountLevel" >
    update t_funtime_user_account
    <set>

      <if test="blueDiamond != null">
        blue_diamond = blue_diamond+#{blueDiamond,jdbcType=DECIMAL},
      </if>
      <if test="hornNumber != null">
        horn_number = horn_number+#{hornNumber,jdbcType=INTEGER},
      </if>
      <if test="level != null">
        level = #{level},
      </if>
      <if test="levelVal != null">
        level_val = level_val+#{levelVal},
      </if>
      <if test="wealthVal != null">
        wealth_val = wealth_val+#{wealthVal},
      </if>
    </set>
    where user_id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateUserAccountForConvert" >
    update t_funtime_user_account
    <set>

      <if test="blackDiamond != null">
        black_diamond = black_diamond-#{blackDiamond,jdbcType=DECIMAL},
      </if>
      <if test="blueDiamond != null">
        blue_diamond = blue_diamond+#{blueDiamond,jdbcType=DECIMAL},
      </if>
      <if test="level != null">
        level = #{level},
      </if>
      <if test="levelVal != null">
        level_val = level_val+#{levelVal},
      </if>
      <if test="wealthVal != null">
        wealth_val = wealth_val+#{wealthVal},
      </if>

    </set>
    where user_id = #{id,jdbcType=BIGINT}
    <if test="blackDiamond != null">
      and black_diamond-#{blackDiamond,jdbcType=DECIMAL} >=0
    </if>

  </update>
  <update id="updateUserAccountForPlusGift" >
    update t_funtime_user_account
    <set>

      <if test="blackDiamond != null">
        black_diamond = black_diamond+#{blackDiamond,jdbcType=DECIMAL},
      </if>
      <if test="charmVal != null">
        charm_val = charm_val+#{charmVal},
      </if>
      <if test="receivedGiftNum != null">
        received_gift_num = received_gift_num+#{receivedGiftNum},
      </if>

    </set>
    where user_id = #{id,jdbcType=BIGINT}
  </update>

  <update id="updateUserAccountGoldCoinPlus" >
    update t_funtime_user_account
    <set>
      <if test="goldCoin != null">
        gold_coin = gold_coin+#{goldCoin},
      </if>
    </set>
    where user_id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateUserAccountGoldCoinSub" >
    update t_funtime_user_account
    <set>
      <if test="goldCoin != null">
        gold_coin = gold_coin-#{goldCoin},
      </if>
    </set>
    where user_id = #{id,jdbcType=BIGINT} and gold_coin-#{goldCoin}>=0
  </update>
</mapper>