<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rzyou.funtime.mapper.Funtime1v1PrivateMapper">


    <select id="get1v1price" resultType="java.util.Map">
        select id as priceId,price_type as priceType
        ,if(price_type = 1,concat(amount,'金币'),concat(amount,'蓝钻'))amount
        from t_funtime_1v1_price where times = #{times}
    </select>
    <select id="get1v1priceById" resultType="java.util.Map">
        select price_type as priceType,amount from t_funtime_1v1_price where id = #{id}
    </select>
    <select id="get1v1Counts" resultType="java.lang.Integer">
        select count(id) from t_funtime_1v1_record where user_id = #{userId} and state = 2 and create_time between #{startDate} and #{endDate}
    </select>

    <select id="get1v1RecordTask" resultType="com.rzyou.funtime.entity.Funtime1v1Record">
        select id,user_id as userId,price_type as priceType,price from t_funtime_1v1_record where state = 1
    </select>
    <insert id="save1V1Record" parameterType="com.rzyou.funtime.entity.Funtime1v1Record" keyProperty="id" useGeneratedKeys="true">
        insert into t_funtime_1v1_record (user_id,room_id,price_type,price,state,expire_time)
        values
        (#{userId},#{roomId},#{priceType},#{price},#{state},DATE_ADD(now(),INTERVAL (select parameter_value-6 from t_funtime_parameter where parameter_key = 'match_seconds') second))
    </insert>
    <update id="cancelMatch">
        update t_funtime_1v1_record set state = 3 where expire_time > now()
    </update>
    <update id="compeleteMatch">
        update t_funtime_1v1_record set state = 2,room_id = #{roomId} where id = #{id}
    </update>
    <update id="cancelMatchById">
        update t_funtime_1v1_record set state = 3 where id = #{id}
    </update>
</mapper>