<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rzyou.funtime.mapper.FuntimeNoticeMapper">
  <resultMap id="BaseResultMap" type="com.rzyou.funtime.entity.FuntimeNotice">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="notice_type" jdbcType="INTEGER" property="noticeType" />
    <result column="data" jdbcType="VARCHAR" property="data" />
    <result column="operation_num" jdbcType="INTEGER" property="operationNum" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, notice_type, data, state, create_time, update_time,operation_num
  </sql>


  <select id="getSingleFailNotice"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_funtime_notice
    where notice_type in (15,16) and  state in (0,2) and 3 >= operation_num
  </select>
  <select id="getAllRoomFailNotice"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_funtime_notice
    where notice_type in (9,21,26,27,28,29) and  state in (0,2) and 3 >= operation_num order by id desc limit 1
  </select>
  <select id="getAllFailNotice"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_funtime_notice
    where notice_type in (10001) and  state in (0,2) and 3 >= operation_num order by id desc limit 1
  </select>
  <select id="getSingleFailNoticeNoRoom"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_funtime_notice
    where notice_type in (24) and  state in (0,2) and 3 >= operation_num order by id desc limit 1
  </select>
  <insert id="insertSelective" parameterType="com.rzyou.funtime.entity.FuntimeNotice">
    insert into t_funtime_notice
    <trim prefix="(" suffix=")" suffixOverrides=",">

      <if test="noticeType != null">
        notice_type,
      </if>
      <if test="data != null">
        data,
      </if>
      <if test="state != null">
        state,
      </if>

      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">

      <if test="noticeType != null">
        #{noticeType,jdbcType=INTEGER},
      </if>
      <if test="data != null">
        #{data,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>

      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateState" >
    update t_funtime_notice
    <set>

      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
        operation_num = operation_num+1,
        update_time = NOW(),

    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <insert id="saveUserSystemNotice" >
    REPLACE INTO t_funtime_user_system_notice (user_id,is_read,read_time) VALUES(#{userId},#{isRead},NOW())
  </insert>

  <select id="getSystemNoticeList"  resultType="java.util.Map">
    select title,content,redirect_url as redirectUrl,UNIX_TIMESTAMP(show_time) as showTime
    from t_funtime_system_notice where NOW()>=show_time order by show_time desc
  </select>
  <select id="getIsReadByUserId" parameterType="java.lang.Long" resultType="java.lang.Integer">
    select f.is_read from t_funtime_user_system_notice f where f.user_id = #{userId}
  </select>

</mapper>