<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rzyou.funtime.mapper.FuntimeRoomGame123Mapper">

    <select id="getUserIfExist" resultType="java.lang.Long">
        select user_id from t_funtime_room_game123_val where user_id = #{userId}
    </select>
    <select id="getUserByRoomId" resultType="java.lang.Long">
        select user_id from t_funtime_room_game123 where room_id = #{roomId}
    </select>
    <select id="getStateByRoomId" resultType="java.lang.Integer">
        select state from t_funtime_room_game123 where room_id = #{roomId}
    </select>
    <select id="getExpireGame1" resultType="java.lang.Long">
        select room_id from t_funtime_room_game123 where now()>=expire_time
    </select>
    <select id="getExpireGame2" resultType="java.lang.Long">
        select room_id from t_funtime_room_game123 where now()>=exit_time
    </select>
    <delete id="deleteGame2">
        delete from t_funtime_room_game123_val where room_id = #{roomId}
    </delete>

    <delete id="deleteGameByUserId">
        delete from t_funtime_room_game123_val where user_id = #{userId}
    </delete>
    <delete id="deleteGame">
        delete from t_funtime_room_game123 where room_id = #{roomId}
    </delete>

    <insert id="insertRoomGame123">
        insert into t_funtime_room_game123 (room_id,user_id,state) values (#{roomId},#{userId},#{state})
    </insert>
    <insert id="insertRoomGame123Val">
        insert into t_funtime_room_game123_val (room_id,user_id,blue_amount) values (#{roomId},#{userId},#{blueAmount})
    </insert>
    <insert id="updateRoomGame123Val">
        update t_funtime_room_game123_val set blue_amount = blue_amount+#{blueAmount} where user_id = #{userId}
    </insert>
    <update id="updateExitTime">
        update t_funtime_room_game123 set exit_time = DATE_ADD(now(),INTERVAL 3 minute ) where room_id = #{roomId}
    </update>
    <update id="updateExitTimeNull">
        update t_funtime_room_game123 set exit_time = null where room_id = #{roomId}
    </update>
    <update id="updateState">
        update t_funtime_room_game123 set state = #{state} where room_id = #{roomId}
    </update>
    <update id="startGame">
        update t_funtime_room_game123 set state = 2,expire_time = DATE_ADD(now(),INTERVAL ${hours} HOUR) where room_id = #{roomId}
    </update>
</mapper>