<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rzyou.funtime.mapper.FuntimeGiftMapper">
  <resultMap id="BaseResultMap" type="com.rzyou.funtime.entity.FuntimeGift">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="gift_tag_id" jdbcType="INTEGER" property="giftTagId" />
    <result column="gift_name" jdbcType="VARCHAR" property="giftName" />
    <result column="original_price" jdbcType="DECIMAL" property="originalPrice" />
    <result column="activity_price" jdbcType="DECIMAL" property="activityPrice" />
    <result column="special_effect_tag_id" jdbcType="VARCHAR" property="specialEffectTagId" />
    <result column="bestowed" jdbcType="INTEGER" property="bestowed" />
    <result column="animation_type" jdbcType="VARCHAR" property="animationType" />
    <result column="animation_url" jdbcType="VARCHAR" property="animationUrl" />
    <result column="animation_length" jdbcType="DECIMAL" property="animationLength" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
  </resultMap>
  <sql id="Base_Column_List">
    id, gift_tag_id, gift_name, original_price, activity_price, special_effect_tag_id, 
    bestowed, animation_type, animation_url, animation_length, create_time, sort
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_funtime_gift
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="getGiftByUserId" parameterType="java.lang.Long" resultType="java.util.Map">
    select
     t.id,t.gift_name giftName,animation_type animationtype, animation_url animationUrl,sum(d.num) numTotal,sum(d.amount) amountTotal
     ,original_price originalPrice, activity_price activityprice
    from t_funtime_gift t inner join t_funtime_user_account_gifttrans_record d on t.id = d.gift_id
    where d.user_id = #{userId}
    group by t.id
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_funtime_gift
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insertSelective" parameterType="com.rzyou.funtime.entity.FuntimeGift">
    insert into t_funtime_gift
    <trim prefix="(" suffix=")" suffixOverrides=",">

      <if test="giftTagId != null">
        gift_tag_id,
      </if>
      <if test="giftName != null">
        gift_name,
      </if>
      <if test="originalPrice != null">
        original_price,
      </if>
      <if test="activityPrice != null">
        activity_price,
      </if>
      <if test="specialEffectTagId != null">
        special_effect_tag_id,
      </if>
      <if test="bestowed != null">
        bestowed,
      </if>
      <if test="animationType != null">
        animation_type,
      </if>
      <if test="animationUrl != null">
        animation_url,
      </if>
      <if test="animationLength != null">
        animation_length,
      </if>

        create_time,

      <if test="sort != null">
        sort,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">

      <if test="giftTagId != null">
        #{giftTagId,jdbcType=INTEGER},
      </if>
      <if test="giftName != null">
        #{giftName,jdbcType=VARCHAR},
      </if>
      <if test="originalPrice != null">
        #{originalPrice,jdbcType=DECIMAL},
      </if>
      <if test="activityPrice != null">
        #{activityPrice,jdbcType=DECIMAL},
      </if>
      <if test="specialEffectTagId != null">
        #{specialEffectTagId,jdbcType=VARCHAR},
      </if>
      <if test="bestowed != null">
        #{bestowed,jdbcType=INTEGER},
      </if>
      <if test="animationType != null">
        #{animationType,jdbcType=VARCHAR},
      </if>
      <if test="animationUrl != null">
        #{animationUrl,jdbcType=VARCHAR},
      </if>
      <if test="animationLength != null">
        #{animationLength,jdbcType=DECIMAL},
      </if>

        now(),

      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rzyou.funtime.entity.FuntimeGift">
    update t_funtime_gift
    <set>
      <if test="giftTagId != null">
        gift_tag_id = #{giftTagId,jdbcType=INTEGER},
      </if>
      <if test="giftName != null">
        gift_name = #{giftName,jdbcType=VARCHAR},
      </if>
      <if test="originalPrice != null">
        original_price = #{originalPrice,jdbcType=DECIMAL},
      </if>
      <if test="activityPrice != null">
        activity_price = #{activityPrice,jdbcType=DECIMAL},
      </if>
      <if test="specialEffectTagId != null">
        special_effect_tag_id = #{specialEffectTagId,jdbcType=VARCHAR},
      </if>
      <if test="bestowed != null">
        bestowed = #{bestowed,jdbcType=INTEGER},
      </if>
      <if test="animationType != null">
        animation_type = #{animationType,jdbcType=VARCHAR},
      </if>
      <if test="animationUrl != null">
        animation_url = #{animationUrl,jdbcType=VARCHAR},
      </if>
      <if test="animationLength != null">
        animation_length = #{animationLength,jdbcType=DECIMAL},
      </if>

      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>