<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rzyou.funtime.mapper.FuntimeUserThirdMapper">
  <resultMap id="BaseResultMap" type="com.rzyou.funtime.entity.FuntimeUserThird">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="third_type" jdbcType="VARCHAR" property="thirdType" />
    <result column="openid" jdbcType="VARCHAR" property="openid" />
    <result column="token" jdbcType="VARCHAR" property="token" />
    <result column="unionid" jdbcType="VARCHAR" property="unionid" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, third_type, openid, unionid, create_time,token,nickname
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_funtime_user_third
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="queryUserByOpenid"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_funtime_user_third
    where openid = #{openid} and third_type = #{thirdType}
    limit 1
  </select>
  <select id="queryUserOpenidByType"  resultType="java.lang.String">
    select
      openid
    from t_funtime_user_third
    where user_id = #{userId} and third_type = #{thirdType}
    limit 1
  </select>
  <select id="queryUserThirdIdByType"  resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from t_funtime_user_third
    where user_id = #{userId} and third_type = #{thirdType}
    limit 1
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_funtime_user_third
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="insertSelective" parameterType="com.rzyou.funtime.entity.FuntimeUserThird">
    insert into t_funtime_user_third
    <trim prefix="(" suffix=")" suffixOverrides=",">

      <if test="userId != null">
        user_id,
      </if>
      <if test="thirdType != null">
        third_type,
      </if>
      <if test="openid != null">
        openid,
      </if>
      <if test="unionid != null">
        unionid,
      </if>
      <if test="token != null">
         token,
      </if>
      <if test="nickname != null">
        nickname,
      </if>

    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">

      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="thirdType != null">
        #{thirdType,jdbcType=VARCHAR},
      </if>
      <if test="openid != null">
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="unionid != null">
        #{unionid,jdbcType=VARCHAR},
      </if>
      <if test="token != null">
        #{token},
      </if>
      <if test="nickname != null">
        #{nickname},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rzyou.funtime.entity.FuntimeUserThird">
    update t_funtime_user_third
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="thirdType != null">
        third_type = #{thirdType,jdbcType=VARCHAR},
      </if>
      <if test="openid != null">
        openid = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="unionid != null">
        unionid = #{unionid,jdbcType=VARCHAR},
      </if>
      <if test="token != null">
        token = #{token,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

</mapper>