<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rzyou.funtime.mapper.FuntimeMusicMapper">

  <select id="getLocalMusics" resultType="java.util.Map">
    select * from t_funtime_music where 1=1
    <if test="tagId!=null">
      and tag_id = #{tagId}
    </if>
    <if test="content !=null and content!=''">
      and BINARY  search_name like concat('%',#{content},'%')
    </if>
     order by hot desc
  </select>
  <insert id="insertMusic" parameterType="java.util.Map">
    insert into t_funtime_music (tag_id,url,name,search_name,type) values (#{tagId},#{url},#{name},#{searchName},#{type})
  </insert>
</mapper>