<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rzyou.funtime.mapper.FuntimeAccusationMapper">
  <resultMap id="BaseResultMap" type="com.rzyou.funtime.entity.FuntimeAccusation">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="type_tag_id" jdbcType="INTEGER" property="typeTagId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="accusation_id" jdbcType="BIGINT" property="accusationId" />
    <result column="img1" jdbcType="VARCHAR" property="img1" />
    <result column="img2" jdbcType="VARCHAR" property="img2" />
    <result column="img3" jdbcType="VARCHAR" property="img3" />
    <result column="img4" jdbcType="VARCHAR" property="img4" />
    <result column="img5" jdbcType="VARCHAR" property="img5" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, type, type_tag_id, user_id, accusation_id, img1, img2, img3, img4, img5, state, 
    create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_funtime_accusation
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_funtime_accusation
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="insertSelective" parameterType="com.rzyou.funtime.entity.FuntimeAccusation">
    insert into t_funtime_accusation
    <trim prefix="(" suffix=")" suffixOverrides=",">

      <if test="type != null">
        type,
      </if>
      <if test="typeTagId != null">
        type_tag_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="accusationId != null">
        accusation_id,
      </if>
      <if test="img1 != null">
        img1,
      </if>
      <if test="img2 != null">
        img2,
      </if>
      <if test="img3 != null">
        img3,
      </if>
      <if test="img4 != null">
        img4,
      </if>
      <if test="img5 != null">
        img5,
      </if>
      <if test="state != null">
        state,
      </if>

    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">

      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="typeTagId != null">
        #{typeTagId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="accusationId != null">
        #{accusationId,jdbcType=BIGINT},
      </if>
      <if test="img1 != null">
        #{img1,jdbcType=VARCHAR},
      </if>
      <if test="img2 != null">
        #{img2,jdbcType=VARCHAR},
      </if>
      <if test="img3 != null">
        #{img3,jdbcType=VARCHAR},
      </if>
      <if test="img4 != null">
        #{img4,jdbcType=VARCHAR},
      </if>
      <if test="img5 != null">
        #{img5,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>

    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rzyou.funtime.entity.FuntimeAccusation">
    update t_funtime_accusation
    <set>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="typeTagId != null">
        type_tag_id = #{typeTagId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="accusationId != null">
        accusation_id = #{accusationId,jdbcType=BIGINT},
      </if>
      <if test="img1 != null">
        img1 = #{img1,jdbcType=VARCHAR},
      </if>
      <if test="img2 != null">
        img2 = #{img2,jdbcType=VARCHAR},
      </if>
      <if test="img3 != null">
        img3 = #{img3,jdbcType=VARCHAR},
      </if>
      <if test="img4 != null">
        img4 = #{img4,jdbcType=VARCHAR},
      </if>
      <if test="img5 != null">
        img5 = #{img5,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>

      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

</mapper>